#contenedor-buscador{
    width: 171px;
                    position: absolute;
                    box-shadow: 1px 2px 2px 1px #757575;
                    /*visibility: hidden;
                    opacity: 0;*/
                    -webkit-transition: visibility 0s, opacity 0.3s linear;
    transition: visibility 0s, opacity 0.3s linear;
}

#contenedor-resultados{
    list-style-type: none;
                        margin: 0;
                        padding: 0;
}

.resultado{
    padding: 0 10px;
                        margin: 4px 0;
                        cursor: pointer
}

.resultado:hover{
    background-color: #1976D2;
    color: #ffffff;
}

.sin-resultados{
   padding: 0 10px;
                        margin: 4px 0; 
}

.open{
    visibility: visible !important;
    opacity: 1 !important;
}

.close{
    /*visibility: hidden !important;*/
    opacity: 0 !important;
}