.container-weather{
border:1px solid #263238;
    max-width: 998px;
    margin: 0 auto;
    height: 32em;
}

.frame{
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.container{
    align-self: center;
}

.submit-button{
    margin-top: 15px;
    text-align: center;
}

.mapa{
    margin: 25px 0 20px 0;
    padding: 0 10px;
}