input[type="text"].control{
width: 350px;
    height: 30px;
    text-align: center;
    border: 0.05em solid #263238;
    font-family: sans-serif;
    font-size: 16px;
    text-transform: capitalize;
}

input[type="submit"].button{
    width: 250px;
    height: 35px;
    cursor: pointer;
        font-size: 15px;
        font-weight: 900;
}

input[type="submit"].button.turquesa{
background-color: #00897B;
        border: 1px solid #004D40;
        color: #fff;
}

input[type="submit"].button.turquesa:hover{
        background: -webkit-linear-gradient(10deg, #00897B 10%, #228e7d 90%);
    background: -khtml-linear-gradient(10deg, #00897B 10%, #228e7d 90%);
    background: -moz-linear-gradient(10deg, #00897B 10%, #228e7d 90%);
    background: -ms-linear-gradient(10deg, #00897B 10%, #228e7d 90%);
    background: -o-linear-gradient(10deg, #00897B 10%, #228e7d 90%);
    background: linear-gradient(10deg, #00897B 10%, #228e7d 90%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00897B", endColorstr="#228e7d", GradientType=1);
}